body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    color: #721c24;
}
.container {
    max-width: 500px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 48px;
}
p {
    font-size: 18px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c82333;
}

.text-color {
    text-decoration: none;
    color: white;
}